<!DOCTYPE html>
<html ng-app="demo">
    <head>
        <title>ngKeyboard - Demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../src/ng-keyboard.example.css">
        <link rel="stylesheet" href="http://bootswatch.com/readable/bootstrap.css">
        <style>
            .text-ellipis {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>ngKeyboard: kbList modes</h1>
            <div class="row">
                <div class="col-md-4" ng-repeat="mode in ['list', 'select', 'multiselect']">
                    <dl class="dl-horizontal">
                        <dt>Mode</dt><dd>{{mode}}</dd>
                        <dt>Selected</dt><dd class="text-ellipis">{{list[mode].name|| list[mode].length || '&nbsp;'}}</dd>
                    </dl>
                    <table kb-list="{{mode}}" ng-model="list[mode]" class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <td>Items</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr kb-item="item" ng-repeat="item in items track by item.id" kb-selected-class="info">
                                <td>{{item.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            Thanks to <a href="https://github.com/marak/faker.js/" target="_blank">Faker.js</a> for the generated names and <a href="http://bootswatch.com/" target="_blank">bootswatch.com</a> for the 'readable' bootstrap theme.
        </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/0.7.2/MinFaker.js"></script>
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.js"></script>

        <script src="../src/ng-keyboard.js"></script>
        <script>
            var demo = angular.module('demo', ['keyboard']);
            demo.run(function ($rootScope, $timeout) {
                var items = [];
                for (var i = 0; i < 20; i++) {
                    items.push({
                        id: i + 1,
                        name: Faker.Name.findName()
                    });
                }
                $rootScope.items = items;
                $rootScope.list = {
                    list: items[3],
                    select: items[2],
                    multiselect: [items[0], items[1]]
                };
                $timeout(function () {
                    document.querySelector('[kb-list]').focus();
                });
            });
        </script>
    </body>
</html>