<!DOCTYPE html>
<html ng-app="demo" ng-strict-di>
    <head>
        <title>kb-list demo - Angular Keyboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://bootswatch.com/readable/bootstrap.min.css">
        <style>
            .text-ellipis {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            [kb-item] {
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Angular Keyboard: kbList modes</h1>
            <div class="row">

                 <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>Directive</dt><dd>kb-list kb-cyclic</dd>
                        <dt>Keys</dt><dd>up, down</dd>
                        <dt>Selected</dt><dd class="text-ellipis">{{active.list.name || '&nbsp;' }}</dd>
                    </dl>
                    <table kb-list kb-cyclic ng-model="active.list" class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <td>Items</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr kb-item="item" ng-repeat="item in items track by item.id" kb-selected-class="info">
                                <td>{{item.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>Directive</dt><dd>kb-select</dd>
                        <dt>Keys</dt><dd>up, down, space</dd>
                        <dt>Selected</dt><dd class="text-ellipis">{{active.select.name || '&nbsp;'}}</dd>
                    </dl>
                    <table kb-select ng-model="active.select" kb-reached-end="$log.log('No more items')" kb-reached-begin="$log.log('You\'re already at the top')" class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <td>Items</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr kb-item="item" ng-repeat="item in items track by item.id" kb-selected-class="info">
                                <td>{{item.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>Directive</dt><dd>kb-select multiple</dd>
                        <dt>Keys</dt><dd>up, down, space</dd>
                        <dt>Selected</dt><dd class="text-ellipis">{{active.multiselect.length}}</dd>
                    </dl>
                    <table kb-select ng-model="active.multiselect" multiple class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <td>Items</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr kb-item="item" ng-repeat="item in items track by item.id" kb-selected-class="info">
                                <td>{{item.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            Thanks to <a href="https://github.com/marak/faker.js/" target="_blank">Faker.js</a> for the generated names and <a href="http://bootswatch.com/" target="_blank">bootswatch.com</a> for the 'readable' bootstrap theme.
        </div>

        <script src="js/faker/faker.min.js"></script>
        <script src="js/jquery/jquery.min.js"></script>
        <script src="js/angular/angular.min.js"></script>
        <script src="js/angular-keyboard/keyboard.js"></script>
        <script>
            var demo = angular.module('demo', ['keyboard']);
            demo.run(['$rootScope', '$timeout', '$interval', '$log', function ($rootScope, $timeout, $interval, $log) {
                $rootScope.$log = $log;
                var items = [];
                for (var i = 0; i < 15; i++) {
                    items.push({
                        id: i + 1,
                        name: faker.name.findName()
                    });
                }
                $rootScope.items = items;
                $rootScope.active = {
                    list: items[1],
                    select: items[2],
                    multiselect: [items[3], items[4]]
                };
                $timeout(function () {
                    document.querySelector('[kb-list]').focus();
                });
//                $interval(function () {
//                    $rootScope.items[10].name = Faker.Name.findName(); // Test model binding
//                }, 3000);
            }]);
        </script>
    </body>
</html>
